.container {
    position: absolute;
    top: 40%;
    left: 35%;
}

.container input {
    border: 2px solid red;
    height: 30px;
    width: 450px;
    padding: 3px;
}

.container button {
    height: 40px;
    background-color: green;
    color: white;
}